<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/slide.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="SlideContainer container">
                    <section class="containt">
                        <h3>Hey __ <br> I am Arpan</h3>
                        <h2>You can find <br> <span id="text"></span></h2>
                        <p>Hi, I am Arpan Samantha, a professional content writer. This is the platform that you can
                            read many of my writings. You can give me feedback after each of my content.Telling how you
                            want to write.</p>
                        <a href="#" class="MainBtn card-btn btn"> Explore my containt</a>
                        <a href="#" class="MainBtn card-btn btn"> Chat with me</a>
                    </section>
                    <section class="MyPhoto">
                        <img src="{% static 'image/colors.png'%}" alt="colors" id="colors">
                        <img src="{% static 'image/arpan.png'%}" alt="colors" id="arpan">
                    </section>
                </div>
            </div>
            <div class="carousel-item">
                <div class="SlideContainer container">
                    <section class="containt">
                        <h3>Hey __ <br> I am Arpan 2</h3>
                        <h2>You can find <br> <span id="text"></span></h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas maiores aut aliquam corrupti
                            sapiente
                            nulla quod asperiores, natus repellendus eos. Amet voluptatum ipsum iure pariatur voluptatem
                            id in, rem
                            praesentium?</p>
                        <a href="#" class="MainBtn card-btn btn"> Explore my containt</a>
                        <a href="#" class="MainBtn card-btn"> Chat with me</a>
                    </section>
                    <section class="MyPhoto">
                        <img src="{% static 'image/colors.png'%}" alt="colors" id="colors">
                        <img src="https://thumbnail.imgbin.com/0/8/11/imgbin-javascript-logo-html-javascript-logo-1gJt6c05WzKXQuybWYgXvaTYk_t.jpg" alt="colors" id="arpan">
                    </section>
                </div>
            </div>
            <div class="carousel-item">
                <div class="SlideContainer container">
                    <section class="containt">
                        <h3>Hey __ <br> I am Arpan 3</h3>
                        <h2>You can find <br> <span id="text"></span></h2>
                        <p>Hi, I am Arpan Samantha, a professional content writer. This is the platform that you can
                            read many of my writings. You can give me feedback after each of my content.Telling how you
                            want to write.</p>
                        <a href="#" class="MainBtn card-btn btn"> Explore my containt</a>
                        <a href="#" class="MainBtn card-btn"> Chat with me</a>
                    </section>
                    <section class="MyPhoto">
                        <img src="{% static 'image/colors.png'%}" alt="colors" id="colors">
                        <img src="{% static 'image/arpan.png'%}" alt="colors" id="arpan">
                    </section>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"
                style="background-color: rgba(255, 0, 81, 0.259);"></span>
            <!-- <span class="sr-only" style="background-color: rgba(255, 0, 81, 0.259);">Previous</span> -->
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"
                style="background-color: rgba(255, 0, 81, 0.259);"></span>
            <!-- <span class="sr-only">Next</span> -->
        </a>
    </div>
    <!-- <div class="SlideContainer container">
        <section class="containt">
            <h3>Hey __ <br> I am Arpan</h3>
            <h2>You can find <br> <span id="text"></span></h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas maiores aut aliquam corrupti sapiente
                nulla quod asperiores, natus repellendus eos. Amet voluptatum ipsum iure pariatur voluptatem id in, rem
                praesentium?</p>
            <a href="#" class="MainBtn card-btn"> Explore my containt</a>
            <a href="#" class="MainBtn card-btn"> Chat with me</a>
        </section>
        <section class="MyPhoto">
            <img src="{% static 'image/colors.png'%}" alt="colors" id="colors">
            <img src="{% static 'image/arpan.png'%}" alt="colors" id="arpan">
        </section>
    </div> -->
    <!-- cdn for typing js  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/typed.js@2.0.15/dist/typed.umd.js"></script>
    <script>
        let typingtext = new Typed('#text', {
            strings: ["Romance", "Thrill and Horror", "Sports story", "Computer Pogramming"],
            loop: true,
            typeSpeed: 150,
            backSpeed: 50,
            backDelay: 1000
        })
    </script>
</body>

</html>